<div class="container d-flex">
  <!--MAKE A PAYMENT-->
  <div class="card paycard col-6">
    <div class="card-header">
      <div class="card-title text-center h5">Make a Payment</div>
    </div>
    <div class="divider"></div>
    <div class="card-body text-center">
      <p class="text-center">Total ${{Dates.amount}} due by {{Dates.due_date}}. Click below to pay your union dues with PayPal.</p>
      <form action="/pay" method="post">
        <input type="submit" value="Pay Now" class="btn paybtn">
      </form>
    </div>
  </div>
  <!--PAYMENT HISTORY-->
  <div class="card pay-card col-6">
    <div class="card-header">
      <div class="card-title text-center h5">Your Payment History</div>
    </div>
    <div class="card-body">
      <table class="table payhisttable">
        <thead>
          <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Dues Paid</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            {{#if PayHist.paid === true}}
            {{#each PayHist}}
            <td>{{due_date}}</td>
            <td class="paiddues">Paid.</td>
            {{/each}}
            {{else}}
            {{#each PayHist}}
            <td class="missedpayment">{{due_date}}</td>
            <td class="missedpayment">Missed payment. Please contact your representative.</td>
            {{/each}}
            {{/if}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>